<div class="nav-container">
    <div class="brand">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            FoodGroups
        </NavLink>
     </div>
    <nav class="nav-links">
        <NavLink class="nav-item" href="Dashboard">Dashboard</NavLink>
        <NavLink class="nav-item" href="grupos">Grupos</NavLink>
        <NavLink class="nav-item" href="usuarios">Usuários</NavLink>
    </nav>
</div>