<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FoodGroups</a>
    </div>
</div>

<nav class="flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="usuarios">
        <span class="bi bi-people-fill" aria-hidden="true"></span> Usuários
    </NavLink>
    <NavLink class="nav-link" href="grupos/criar">
        <span class="bi bi-collection-fill" aria-hidden="true"></span> Novo Grupo
    </NavLink>
</nav>